<div class="page-details-container" *ngIf="state.show_section">
  <div *ngFor="let detail of details; let detail_index = index">
    <div class="detail-read" *ngIf="!detail._states.edit_enabled">
      <div class="detail-title">
        <a href="javascript:void(0)">{{detail.name}}</a>
        <div class="detail-tools">
          <sr-section-toggle-btn [state_key]="getDetailStateKey(detail_index)"></sr-section-toggle-btn>
          <sr-options-btn [config]="options_btn_config" (remove)="deleteDetail(detail)" (edit)="editDetail(detail)"></sr-options-btn>
          <sr-move-btn></sr-move-btn>
        </div>
      </div>
      <sr-page-detail-content *ngIf="detail['content']['partitions']" [state_key]="getDetailStateKey(detail_index)" [partitions]="detail['content']['partitions']" [edit_state_key]="getEditStateKey(detail_index)"></sr-page-detail-content>
    </div>
    <div class="detail-edit" *ngIf="detail._states.edit_enabled">
      <div class="detail-title">
        <input type="text" [(ngModel)]="detail.name">
        <sr-complete-btn (complete)="renderTags(detail)"></sr-complete-btn>
        <sr-page-detail-content-edit [edit_state_key]="getEditStateKey(detail_index)" [content_container]="detail" [content_key]="content_key"></sr-page-detail-content-edit>
      </div>
    </div>
  </div>
</div>