<div class="page-details-container" *ngIf="show_state">
  <div *ngFor="let detail of details; let detail_index = index">
    <div class="detail-read" *ngIf="!detail._states.edit_enabled">
      <div class="detail-title">
        <a href="javascript:void(0)">{{detail.name}}</a>
        <div class="detail-tools">
          <sr-section-toggle-btn (enabled)="toggleDetail($event, detail)"></sr-section-toggle-btn>
          <sr-options-btn [config]="options_btn_config" (remove)="deleteDetail(detail)" (edit)="editDetail(detail)"></sr-options-btn>
          <sr-move-btn></sr-move-btn>
        </div>
      </div>
    </div>
    <div class="detail-edit" *ngIf="detail._states.edit_enabled">
      <div class="detail-title">
        <input type="text" [(ngModel)]="detail.name">
        <sr-complete-btn (complete)="renderTags(detail)"></sr-complete-btn>
      </div>
    </div>
    <sr-page-detail-content *ngIf="detail['content']['partitions']" [show_state]="!detail._states.hide_detail_content" [content]="detail['content']" [edit_state]="detail._states.edit_enabled"></sr-page-detail-content>
  </div>
</div>