:host {
  display: block;
  text-align: justify;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 30px;
}

:host .summary-details {
  margin-top: 5px;
  float: right;
  font-size: 18px;
  font-family: 'Viga', sans-serif;
  color: black;
}

:host .summary-details:hover {
  color: #003399;
}