:host {
  display: block;
  margin: 0;
}

:host .relative-library-title {
  margin-bottom: 10px;
}

:host .library-link {
  margin-left: 15px;
}

:host .library-link a {
  display: block;
  line-height: 30px;
}