:host .relative-pages-container {
  display: block;
  width: 320px;
  max-height: 175px;
  padding: 5px 10px;
  margin: 15px 0 30px 15px;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

:host .page-link-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 30px;
}

:host .page-link-title a {
  color: black;
  font-size: 18px;
  flex-grow: 1;
}

:host .page-link-title a:hover {
  color: #003399;
}

:host sr-content-help-btn {
  margin-top: 5px;
}

@media (max-width: 400px) {
  :host .relative-pages-container {
    width: calc(100% - 20px);
    margin: 15px 0px 30px 0;
  }
}