<div class="relative-pages-section" *ngFor="let relative_pages_section of relative_pages_sections; let page_section_index = index">
  <h3 class="relative-page-title">{{relative_pages_section.title}}</h3>
  <sr-section-toggle-btn *ngIf="relative_pages_section.properties['list'].length" (reveal)="toggleRelativePages($event, relative_pages_section)"></sr-section-toggle-btn>
  <sr-new-item-btn (enabled)="toggleAddLink($event, relative_pages_section)"></sr-new-item-btn>
  <sr-add-link [show_state]="relative_pages_section._states.add_link_enabled" [relative_pages_section]="relative_pages_section" (setRelativePagesSection)="setRelativePagesSection($event, page_section_index)" (setRelativePagesSections)="setRelativePagesSections($event)"></sr-add-link>
  <sr-relative-pages *ngIf="relative_pages_section.properties['list'].length" [show_state]="!relative_pages_section._states.hide_relative_pages" [pages]="relative_pages_section.properties['list']" [is_loading]="relative_pages_section.is_loading"></sr-relative-pages>
</div>