:host {
  display: block;
  margin: 0px;
}

:host .relative-page-title {
  text-transform: capitalize;
}

:host .relative-pages-section {
  margin-bottom: 30px;
}

:host .relative-page-title {
  display: inline;
  margin-bottom: 10px;
}
