<div class="summary-read" *ngIf="!edit_mode && !is_loading">
  <div class="page-title" *ngIf="page.name">
    <h2>{{page.name}}</h2>
    <div class="page-tools">
      <sr-options-btn [config]="options_btn_config" (remove)="deletePage()" (edit)="editSummary()"></sr-options-btn>
    </div>
  </div>
  <div *ngIf="page.summary">
    <div *ngIf="page.summary.properties">
      <sr-page-properties [properties_holder]="page.summary" [edit_mode]="edit_mode"></sr-page-properties>
    </div>
    <div *ngIf="page.summary.text">
      <p>{{page.summary.text}}</p>
    </div>
  </div>
</div>
<div class="summary-edit" *ngIf="edit_mode">
  <div class="page-title">
    <input type="text" [(ngModel)]="page.name">
    <div class="page-tools">
      <sr-complete-btn (complete)="finishEditSummary()"></sr-complete-btn>
    </div>
  </div>
  <div>
    <div>
      <sr-page-properties [properties_holder]="page.summary" [edit_mode]="edit_mode"></sr-page-properties>
    </div>
    <div>
      <sr-textarea [content_container]="page.summary" [content_key]="'text'"></sr-textarea>
    </div>
  </div>
</div>
<sr-spinner *ngIf="is_loading"></sr-spinner>