:host button {
  opacity: 0.4;
  background: none;
  background-image: url("data:image/svg+xml;uft8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#373737'><circle cx='10' cy='3' r='2'/><circle cx='10' cy='10' r='2'/><circle cx='10' cy='17' r='2'/></svg>");
  width: 20px;
  height: 20px;
  border: none;
  transition: all 0.3s;
}

:host button:hover {
  opacity: 1;
}

:host .options {
  position: absolute;
  background-color: #373737;
  border-radius: 4px;
  padding: 10px;
  color: white;
  z-index: 1;
  width: 150px;
  margin-left: -75px;
  margin-top: 28px;
}