<div class="image-container" *ngIf="show_state">
  <div class="add-image-container">
    <div class="input-results">
      <!-- <input type="text" [(ngModel)]="name"> -->
      <input *ngIf="!search_selected_item" type="text" [(ngModel)]="name">
      <div *ngIf="search_selected_item" class="selected-item-container">
        <div class="selected-item-text">{{name}}</div>
        <sr-exit-btn (closed)="removeSelection()"></sr-exit-btn>
      </div>
      <sr-search-results [search_query_text]="name" [other_type]="'image'" (itemSelected)="searchQueryItemSelected($event)"></sr-search-results>
    </div>
    <button class="add-image-btn" (click)="newImage()" [disabled]="!name || (!search_selected_item && !file)">{{add_image_btn}}</button>
  </div>
  <div class="add-image-properties">
    <label>
      <div>Caption:</div>
      <input type="text" [(ngModel)]="caption">
    </label>
    <label>
      <div>Source:</div>
      <input type="text" [(ngModel)]="source">
    </label>
  </div>
  <div class="upload-image-container">
    <sr-cancel-image-btn (enabled)="cancelImage()" *ngIf="file"></sr-cancel-image-btn>
    <sr-file-input [valid_file_types]="['image']" (fileReady)="fileReady($event)" [file]="file"></sr-file-input>
  </div>
</div>