:host button {
  background: none;
  background-image: url("data:image/svg+xml;uft8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='#FFF' d='M7 2h2v5h5v2H9v5H7V9H2V7h5'/></svg>");
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: none;
  transition: all 0.3s;
  transform: rotate(45deg);
  background-color: #e5442b;
}

:host .btn-expander {
  border: solid 4px #e5442b;
  border-radius: 20px;
  background-color: #e5442b;
}