:host {
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  display: block;
}

:host img {
  max-width: 350px;
  max-height: 350px;
}

:host sr-magnify-image-btn {
  position: absolute;
  margin-left: 8px;
  margin-top: 8px;
}

:host .content-read {
  position: relative;
}

:host p {
  margin-bottom: 10px;
}

:host .title {
  font-weight: 700;
}

/* END removes spacing between spans */

:host .tag {
  cursor: pointer;
  color: #0268D8;
  font-weight: 700;
}

:host .tag:hover {
  color: #003399;
  text-decoration: underline;
}

:host .content-edit {
  margin-bottom: 10px;
}