:host .pin {
  background-color: red;
  width: 20px;
  height: 20px;
  border: 4px solid white;
  border-radius: 20px;
  position: absolute;
}

:host .pin.town {
  background-color: #373737;
  width: 8px;
  height: 8px;
  border: 4px solid white;
}

:host .pin.city {
  background-color: #662020;
  width: 12px;
  height: 12px;
  border: 6px solid white;
}

:host .pin.capital {
  background-color: #662020;
  width: 16px;
  height: 16px;
  border: 8px solid white;
}