:host label,
:host .complex-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

:host .property-group {
  margin-bottom: 15px;
}

:host .property-group label {
  margin-bottom: 0px;
}

:host .label-title {
  width: 100px;
  font-weight: 700;
  margin-right: 10px;
  line-height: 27px;
}

:host label input {
  flex-grow: 1;
}

:host .input-results {
  flex-grow: 1;
  margin-right: 0px;
  position: relative;
}

:host .input-results input {
  width: 100%;
}

:host input {
  border: 1px solid #373737;
  padding: 2px 5px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Cuprum', sans-serif;
}

:host .place-pin-btn {
  width: 70px;
  min-width: 70px;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  font-family: 'Cuprum', sans-serif;
  color: white;
}

:host .place-pin-btn:disabled {
  background-color: #ccc;
}

:host .place-pin-btn {
  background-color: #3a66e0;
}

:host .selected-item-container {
  position: relative;
  background-color: #3a66e0;
  color: white;
  border-radius: 100px;
}

:host .selected-item-container sr-exit-btn {
  margin: 6px 6px 0 0;
  float: right;
}

:host .selected-item-text {
  line-height: 27px;
  display: inline-block;
  max-width: calc(100% - 42px);
  white-space: nowrap;
  padding: 0 10px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

:host .multi-line-label {
  display: block;
}