:host button {
  min-width: 70px;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  font-family: 'Cuprum', sans-serif;
  color: white;
}

:host .save-pin-btn:disabled {
  background-color: #ccc;
}

:host .save-pin-btn {
  background-color: #4FB12E;
}

:host .back-btn {
  float: right;
}

:host label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

:host .label-title {
  width: 100px;
  font-weight: 700;
  margin-right: 10px;
  line-height: 27px;
}

:host label input {
  flex-grow: 1;
}

:host input {
  border: 1px solid #373737;
  padding: 2px 5px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Cuprum', sans-serif;
}
