:host .upload-new-image {
  display: block;
  width: 370px;
}

:host .map-image {
  width: 100%;
  max-height: calc(100% - 70px);
  overflow-x: scroll;
  overflow-y: scroll;
}

:host .white-out {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: 0.5;
}