<sr-bookmarks-btn *ngIf="!show_bookmarks" (open)="openBookmarks()"></sr-bookmarks-btn>
<section class="bookmarks-container" *ngIf="show_bookmarks">
  <section class="top-bar">
    <sr-bookmarks-btn></sr-bookmarks-btn>
    <sr-exit-btn (closed)="closeBookmarks()"></sr-exit-btn>
  </section>
  <section class="content">
    <section class="bookmarks">
      <sr-add-bookmark-btn></sr-add-bookmark-btn>
      <div *ngFor="let bookmark of bookmarks; let bookmark_index = index">
        <a href="javascript:void(0)" (click)="openBookmark(bookmark_index)">{{bookmark.name}}</a>
      </div>
    </section>
    <section class="events">
      <div>
        <a href="javascript:void(0)" (click)="openEvents()">Time &amp; World Events</a>
      </div>
    </section>
    <section class="others">
      <div>
        <a href="javascript:void(0)" (click)="openRulebooks()">Rulebooks</a>
      </div>
      <div>
        <a href="javascript:void(0)" (click)="openReferenceTables()">Reference Tables</a>
      </div>
      <div>
        <a href="javascript:void(0)" (click)="openWiki()">Wiki</a>
      </div>
    </section>
  </section>
</section>