:host .bookmarks-container {
  top: 0;
  left: 0;
  position: absolute;
  width: 200px;
  color: white;
  font-size: 14px;
  z-index: 2;
}

:host .top-bar {
  height: 40px;
  background-color: #333;
}

:host .content {
  padding: 0 10px 10px 10px;
  height: 100%;
  background-color: #333;
}

:host .events {
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  padding: 5px 0 3px 0;
  margin: 5px 0 7px 0;
}

:host a {
  color: white;
}

:host div,
:host sr-add-bookmark-btn {
  line-height: 25px;
}

:host sr-exit-btn {
  margin: 4px 0 0 0;
  float: right;
}

:host .bookmarks-container sr-bookmarks-btn {
  display: inline-block;
  margin-left: 10px;
}